@mixin media-maxwidth($screensize){
    @media (max-width:$screensize) {
       @content;
     };
}

@mixin styleCard($bgColor, $fontColor){
    background-color: $bgColor;
    color: $fontColor; 
    width : 22%;
    min-width : 250px;
    margin-bottom : auto;
    margin-top : 0;
    display : block;
    border-radius : 20px;
    &-thumbnail {
        max-width: 100%;
        aspect-ratio: 3/2;
    };
    &-textContent {
        padding: 5%;
    };
}

@mixin styleCetegoriesList($bgColor, $textColor){
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    &-item {
        padding: 4px 8px;
        border-radius: 10px;
        place-items: auto stretch;
        font-size: $font-size-small;
        background-color: $secondary-container-dark;
        color: $on-secondary-container-dark;
            };
}