$primary-dark: #64d3ff;
$on-primary-dark: #003546;
$primary-container-dark: #004d63;
$on-primary-container-dark: #bce9ff;
$secondary-dark: #feabf4;
$on-secondary-dark: #541354;
$secondary-container-dark: #6f2c6c;
$on-secondary-container-dark: #ffd7f6;
$background-dark: #191c1e;
$on-background-dark: #e1e2e4;

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 22px;

%color-match-primary{
    background-color: $primary-dark;
    color: $on-primary-dark;
}
%color-match-primary-container{
    background-color: $primary-container-dark;
    color: $on-primary-container-dark;
}
%color-match-secondary{
    background-color: $secondary-dark;
    color: $on-secondary-dark;
}
%color-match-secondary-container{
    background-color: $secondary-container-dark;
    color: $on-secondary-container-dark;
}
%color-match-background{
    background-color: $background-dark;
    color: $on-background-dark;
}
