/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;900&family=Noto+Serif:wght@300;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #191c1e;
  color: #e1e2e4; }

body {
  width: 95%;
  margin: auto;
  font-family: "Noto Sans"; }

.introduce {
  display: flex;
  align-items: flex-start;
  margin: 40px 0 40px 0; }
  @media (max-width: 450px) {
    .introduce {
      flex-direction: column;
      align-items: center;
      width: 100%; } }
  .introduce-profilePicture {
    width: 10%;
    min-width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-inline-end: 10px; }
  .introduce-textContent {
    margin-inline: 20px; }
    .introduce-textContent-title {
      font-size: 24px;
      margin-bottom: 20px; }

#collectionSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 40px; }
  @media (max-width: 450px) {
    #collectionSection {
      flex-direction: column; } }

.card {
  background-color: #004d63;
  color: #bce9ff;
  width: 22%;
  min-width: 250px;
  margin-bottom: auto;
  margin-top: 0;
  display: block;
  border-radius: 20px;
  transition: all .4s ease-in-out; }
  .card-thumbnail {
    max-width: 100%;
    aspect-ratio: 3/2; }
  .card-textContent {
    padding: 5%; }
  .card:hover {
    transform: scale(1.1); }
  @media (max-width: 450px) {
    .card {
      width: 100%;
      min-width: 0; } }
  .card-textContent-categoriesList {
    display: flex;
    flex-wrap: wrap;
    gap: 4px; }
    .card-textContent-categoriesList-item {
      padding: 4px 8px;
      border-radius: 10px;
      place-items: auto stretch;
      font-size: 12px;
      background-color: #6f2c6c;
      color: #ffd7f6; }
  .card-textContent-titleGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-block: 7px; }
    .card-textContent-titleGroup-title {
      font-size: 22px;
      margin: 5px 0; }
    .card-textContent-titleGroup-editionInfos {
      font-size: 12px; }

.footer {
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
  align-items: baseline; }
  @media (max-width: 450px) {
    .footer {
      flex-direction: column-reverse;
      align-items: center;
      width: 100%; } }
  .footer-quotes {
    width: 30%;
    padding: 10px;
    color: #feabf4; }
    @media (max-width: 450px) {
      .footer-quotes {
        width: 100%; } }

/*# sourceMappingURL=style.css.map */
