@import 'resset';
@import 'tokkens';
@import 'mixins';

body {
    @extend %color-match-background;
    width: 90%;
    margin: auto;
}


.introduce {
    display: flex;
    align-items: flex-start;
    margin: 40px 0 40px 0;
    &-profilePicture {
        width: 10%;
        min-width: 70px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-inline-end: 10px;
    };
    &-textContent {
        margin-inline: 20px;
        &-title {
            font-size: $font-size-extraLarge;
            margin-bottom: 20px;
        };
    };
}


#collectionSection {
    display: flex;
    flex-direction: row; // <=== mobile = collumn
    flex-wrap: wrap;
    justify-content: space-between;
    gap : 30px;
}

.card {
    @include styleCard($primary-container-dark, $on-primary-container-dark);
        &-textContent-categoriesList {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            &-item {
                @extend %color-match-secondary-container;
                padding: 4px 8px;
                border-radius: 10px;
                place-items: auto stretch;
                font-size: $font-size-small;
            };
        };
        &-titleGroup {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-between;
            &-title {
                font-size: $font-size-large;
                margin: 5px 0;
            };
            &-editionInfos {
                font-size: $font-size-small;
            };
        };
    };

